body, html {
    background-color: rgb(207, 228, 224);
    font-family: 'Lato', sans-serif;
    color: #272725;
}

.container {
    border: none;
    border-radius: 25px;
    position: relative;
    margin: auto;
    width: 500px;
    
}

#to-do-header {
    background-color: #272725;
    color: white;
    position: absolute;
    top: 0;
    width: inherit;
    border-radius: 25px 25px 0 0;
}

#input-field {
    background-color: bisque;
    position: relative;
    top: 45px;
    height: 55px;
}

#input-ToDo {
    margin: 2px 0 0 30px;
    padding: 8px 0 5px 20px;
    width: 380px;
    background: transparent;
    background-color: #fff6df;
    font-size: 22px;
    border: none;
    border-radius: 25px;
}

#add-button {
    position: relative;
    top: 2px;
    border: none;
    border-radius: 25px;
    color: white;
    background-color: #272725;
    margin: 4px 0 0 10px;
    height: 40px;
    width: 40px;
}

#add-button:hover {
    transition: .3s;
    background-color: white;
    color: #272725;
}

#to-do-container {
    position: relative;
    top: 24px;
    background-color: #fff6df;
    border-radius: 0 0 25px 25px;
    padding: 8px 0 10px 35px;
    font-size: 20px;
    line-height: 35px;
}

#to-do-container .list-item {
    font-weight: 700;
}

li {
    display: flex;
}

.list-item-text {
    width: 350px;
    margin: 0px;
    word-wrap: break-word;
    white-space: pre-wrap;
    word-break: break-word;
}

.list-item button {
    border-radius: 30px;
    float: right;
    height: 32px;
    width: 40px;
    margin: 4px 12px 0px 5px;
    border: none;
}

.complete {
    background-color: #007074;
    color: white
}

.delete {
    background-color: #E1926A;
    color: white;
}

.complete:hover {
    transition: .3s;
    background-color: white;
    color: #007074;
}

.delete:hover {
    transition: .3s;
    background-color: white;
    color: #E1926A;
}

span.reveal-panel {
    position: absolute;
    width: 453px;
    background: cadetblue;
    color: transparent;
    transition: transform 1s;
    transform-origin: 0% 50%;
    animation: reveal-to-do 1s linear forwards;
}

@keyframes reveal-to-do {
    from {width: 453px;}
    to {width: 0px;}
}


/* 
Raisin Black (Text Color)
#272725
Skobeloff ((to-do header)
#007074
Eggshell (to-do background
#EEE7D5
Pale Copper (Cancel to-do button)
#E1926A

animation: show 600ms 100ms delay iteration-count direction fill-mode;
*/